@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap");

body,
header,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: "Gilda Display", serif;
  color: #E9E9E9;
  background: linear-gradient(to right, #000, #3B5255);
  margin: 0;
  background-image: url("assets/bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;

  height: 100vh;
  justify-content: center;
  gap: 20px;

  figure {
    overflow: hidden;
    width: 374px;
    height: 230px;
    /*border-radius: 50%;*/
    /*margin-bottom: 10px;*/
  }

  .logo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(0.95);
      -webkit-filter: drop-shadow(5px 5px 5px #222);
      filter: drop-shadow(5px 5px 5px #222);
      margin: auto;
      /*object-position: top 17px right -41px;*/
    }
  }

  h1 {
    margin: 0;
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
    margin: 0 0 5px 0;
    font-weight: 400;
  }

  .svg{
    height: 25px;
    margin: -2px 5px -6px 0px;
    fill: url(#my-cool-gradient);
  }

  .btn_icon{
    border-radius: 10px;
    height: 90%;
    margin: -10px 5px -15px 0px;
  }

  main {
    gap: 20px;

    button {
      font-family: "Gilda Display", serif;
      font-weight: bold;
      font-size: 16px;
      width: 300px;
      height: 50px;
      background-color: #E9E9E9;
      color: #444;
      border: none;
      border-radius: 10px;
      transition: 0.2s;
      -webkit-transition: 0.2s;

      &:hover {
        cursor: pointer;
        background-color: #ffffff00;
        border: 1px solid white;
        color: white;
      }
    }
  }
}
